body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #fff;
}

.buttonTrash{
    border: none;
    cursor: pointer;
    appearance: none;
    background-color: inherit;
}

.trash{
    width: 5%;
    height: 5%;
}

